{
	email admin@sub2api.online
}

accpilot.online, www.accpilot.online {
	reverse_proxy acg-faka-nginx:80
}

aa.sub2api.online {
	redir / /app/ 302

	@panel path /app /app/*
	reverse_proxy @panel s-ui:2095

	@sub path /sub /sub/*
	reverse_proxy @sub s-ui:2096
}
